html, body {
  background-color: #2b2b2b;
  padding: 0;
  margin: 0;
  --main-back: #2b2b2b;
  line-height: 1.5rem;
  height: 100%;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Consolas, 'Courier New', monospace;
  height: 100%;
  width: 100%;
  font-size: 18px;
}

#lines {
  background-color: var(--main-back);
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 4rem;
}

#lines label {
  display: block;
  padding: 0 20px;
  text-align: right;
}

#raw {
  color: lightgray;
  white-space: pre-wrap;
  background-color: var(--main-back);
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-size: 18px;
  font-family: Consolas, 'Courier New', monospace;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 50%;
  height: auto;
  resize: none;
  line-height: 1.5rem;
  white-space: nowrap;
}

#raw::-moz-selection {
  filter: brightness(50%);
  background-color: rgba(52, 152, 219, 0.2);
  color: inherit;
}

#raw::selection {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-color: rgba(52, 152, 219, 0.2);
  color: inherit;
}

#noopenfiles {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
  color: #888;
  line-height: 2.15rem;
  text-align: center;
}

#preview {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
  background-color: var(--main-back);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: lightgray;
  max-width: 50%;
  border-left: 2px solid #1f1f1f;
  padding-left: 1rem;
  overflow-wrap: unset;
  white-space: nowrap;
  overflow: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tabs {
  background-color: #1f1f1f;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif;
}

#tabs .tab {
  background-color: #1f1f1f;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: .5rem 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 6rem;
  color: white;
  cursor: pointer;
}

#tabs .tab.active {
  background-color: var(--main-back);
}

#tabs .tab .close {
  padding-left: 1rem;
  color: #444;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#tabs .tab .close:hover {
  color: #666;
}

#controls button {
  outline: 0;
  border: 0;
  color: #888;
  font-size: 1.25rem;
  padding: 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

#controls button:not(:first-child) {
  margin-left: .25rem;
}
/*# sourceMappingURL=main.css.map */